<section class="mb-10">
  <div class="container mx-auto">
    <h1 class="text-4xl font-semibold mb-4">Самая главная страница</h1>
    <p>Тут ещё какой-нибудь текст!</p>
  </div>
</section>

<section class="mb-10">
  <div class="container mx-auto">
    <h2 class="text-3xl font-semibold mb-4">Демо модалок</h2>
    {% include '../components/main-page/intro.twig' %}
  </div>
</section>

<section id='example-animation' style="display: flex; column-gap: 24px; max-width: 1140px; margin: 0 auto">
  <div data-aos="fade-up" style="width: 200px; height: 400px; background-color: red">
  
  </div>
  <div data-aos="fade-right" data-aos-delay="150" style="width: 200px; height: 400px; background-color: blue">
  
  </div>
  <div data-aos="zoom-in" style="width: 200px; height: 400px; background-color: black">
  
  </div>
</section>
