<div class="modal modal--preload modal--fit-content modal--no-scale" data-modal="success">
    <div class="modal__wrapper">
        <div class="modal__overlay" data-close-modal></div>
        <div class="modal__content">
            <p class="modal__description">Размер этой модалки зависит от ширины контента,<br> отключена анимация-скейл</p>
            <button class="modal__close-btn btn-reset" type="button" aria-label="Закрыть попап" data-close-modal>
                <svg width="15" height="15">
                    <use xlink:href="/assets/image/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
